set nu
set relativenumber

set scrolloff=8
set clipboard=unnamedplus

let g:mapleader=" "

vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

nmap J mzJ`z

nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
nmap <C-f> <C-f>zz
nmap <C-b> <C-b>zz
nmap n nzzzv
nmap N Nzzzv

xmap <leader>p \"_dP
nmap <leader>d \"_d
vmap <leader>d \"_d

nmap <leader>y \"+y
vmap <leader>y \"+y
nmap <leader>Y \"+Y

imap <C-c> <Esc>
